@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 125px;
    background-color:  #0e0325;
}

img{
    width: 120px;
}

.linkLogo{
    text-decoration: none;
    border: none;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    color: white;
    background-color: #733b74;
    font-weight: bold;
}

.centerButtons{
    display: flex;
    justify-content: space-between;
    text-transform:uppercase
}

.buttonList{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
    font-weight: bold;
}

.buttonDiscover{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    flex-wrap: wrap;
}

.buttonHome{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    flex-wrap: wrap;
}

input{
    background-color: white;
    border-radius: 3px;
    text-align: center;
    margin-left: 8px;
    width: 350px;
    height: 33px;
    border: 1px #733b74;
}

.menuSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.returnSearch{
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-top: 33px;
    margin-left: 30px;
    width: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.resultSearch{
    background-color: white;
}

.localSearch{

    display: flex;
    align-items: center;
}